.login_container {
  background-color: #24bb79;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  align-items: center;
  justify-content: center;
  text-align: center; /* Ensures text is centered */
}

.login_logo {
  font-family: 'DM Mono', sans-serif;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login_wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Form Section */
.login_wrapper-inner {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  border: 1px solid #ededed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Credentials Section */
.login_credentials_wrap {
  font-family: 'DM Mono', sans-serif;
  color: #ffffff;
}

.login_credentials_wrap-inner {
  background-color: #132322;
  padding: 20px 30px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  word-break: break-word;
}

/* Form Input Columns */
.form_column {
  width: 100%;
  max-width: 292px;
  padding-top: 20px;
  margin: 0 auto;
}

/* Responsive Design */
@media only screen and (max-width: 900px) {
  .form_column {
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .login_wrapper-inner,
  .login_credentials_wrap-inner {
    width: 90%;
    padding: 15px;
  }
}
